@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main section#personal-info img {
    height: 100px;
    width: 100px;
    margin: 15px auto 0px;
    border-radius: 100%;
}

main section#technologies i {
    font-size: 48px;
    color: #0d6efd;
}

main section#technologies i.fa-envira{
    rotate: 45deg;
}

main section#technologies div.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

